/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* customize text/border color of element-ui */
/* base file: "node_modules/element-ui/packages/theme-chalk/src/common/var.scss" */
/// color|1|Font Color|2
$--color-text-primary: #202123;       // default: #303133
/// color|1|Font Color|2
$--color-text-regular: #404246;       // default: #606266
/// color|1|Font Color|2
$--color-text-secondary: #707379;     // default: #909399
/// color|1|Font Color|2
$--color-text-placeholder: #A0A4AC;   // default: #C0C4CC
/// color|1|Border Color|3
$--border-color-base: #BCBFC6;        // default: #DCDFE6
/// color|1|Border Color|3
$--border-color-light: #C4C7CD;       // default: #E4E7ED
/// color|1|Border Color|3
$--border-color-lighter: #CBCED5;     // default: #EBEEF5
/// color|1|Border Color|3
$--border-color-extra-light: #D2D6DC; // default: #F2F6FC

@import "~element-ui/packages/theme-chalk/src/index";