$accentColor = #1761b4
$contentWidth = 1080px
#main-title
  font-size: 2.7rem;
img
  display: block;
  margin-left: auto;
  margin-right: auto;
table
  overflow-x: auto;
  white-space: nowrap;

/*** style for form ***/
.attention
  margin-left: 1.5em;
  font-size: 80%;
  color: red;
.form-item
  padding: 0 16px;
.form-item-long
  width: 100%;
.form-item-medium
  width: 75%;
.form-item-short
  width: 50%;
.form-item-vshort
  width: 30%;